<h1>ruTorrent - Plugins</h1>
<p>ruTorrent's features can be extended in many different ways through the use of plugins. Though some more common ones will be installed when installing ruTorrent itself there are lots more that can be added.</p>
<p>Naturally, this guide assumes you know how to <a href="../rutorrent">install ruTorrent</a> (and have done so). Plugins are also added either via SSH or FTP and you may need to <a href="../../slots/ssh">connect to your slot via SSH</a> to configure some plugins. You will be instructed to connect via SSH where this is the case.</p>
<p>This page provides information on the most common custom plugins, how to install them and troubleshooting the most common problems that can arise. Please note though the plugins should work (if you follow the guide properly), Feral cannot provide much support for their use or help should anything go wrong. Please make sure you've read these FAQ pages fully as help on the problem may be covered already.</p>

<ul>
    <li><a href="#general">General method</a></li>
    <li>
        Specific instructions per plugin
        <ul class="no-margin">
            <li><a href="#autodl">Autodl irssi</a></li>
            <li><a href="#cratio">Coloured Ratio Column</a></li>
            <li><a href="#filemanager">Filemanager</a></li>
            <li><a href="#fileshare">Fileshare</a></li>
            <li><a href="#fileupload">Fileupload</a></li>
            <li><a href="#mediastream">Mediastream</a></li>
            <li><a href="#screenshots">Screenshots</a></li>
            <li><a href="#rss">RSS</a></li>
            <li><a href="#unpack">Unpack</a></li>
            <li><a href="#discordpush">Discordpush</a></li>
        </ul>
    </li>
</ul>

<h2 id="general">General method</h2>
<p>Plugins can be added to ruTorrent simply by adding its directory to ruTorrent's plugins directory. This is possible in a number of ways, but the easiest is SSH. Since plugins are self-contained in their own directories, you can also just upload this to ruTorrent's plugin directory.</p>
<p>The method described below will pull the plugin from the ruTorrent plugin repository. If the plugin you want is listed under the 'Specific instructions' section please read those instructions first.</p>
<p>Run the following commands to install from the ruTorrent repository, replacing <var>plugin_name</var> with the actual name of the plugin you wish to install:</p>
<pre><kbd>cd ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
svn checkout https://github.com/Novik/ruTorrent/trunk/plugins/<var>plugin_name</var></kbd></pre>

<h2>Specific instructions</h2>
<p>Sometimes a plugin needs a different approach. This can be either because the download is located in a different place, another version is needed, the plugin depends on other software or because there are further steps needed to get the plugin up and running.</p>

<h3 id="autodl">Autodl irssi</h3>
<p>A separate article covers <a href="../autodl-irssi">installing autodl irssi</a>.</p>

<h3 id="cratio">Coloured Ratio Column</h3>
<p>This plugin adds colour to your ruTorrent UI's ratio column, changing from red to green (though orange and yellow) as your ratio increases.</p>
<p>To install, execute the following:</p>
<pre><kbd>wget -qO ~/ratio.zip http://git.io/71cumA
unzip -qo ~/ratio.zip -d ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
rm -f ratio.zip</kbd></pre>
<p> Then simply open ruTorrent (or refresh the page if it was already open) to see the changes.</p>

<h3 id="filemanager">Filemanager</h3>
<p>The Filemanager plugin adds a way of managing the files on your slot to ruTorrent.</p>

<h4>Installation</h4>
<p>To install Filemanager execute these commands:</p>
<pre><kbd>cd ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
svn co -q https://github.com/nelu/rutorrent-thirdparty-plugins/trunk/filemanager
chmod 700 ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/filemanager/scripts/*</kbd></pre>

<h4>Using the screenshots function</h4>
<p>First, you'll need to <a href="../ffmpeg">install FFmpeg to your slot</a>. Next, configure Filemanager with:</p>
<pre><kbd>cd &amp;&amp; sed -i "s|(getExternal(\"ffprobe\")|(getExternal(\"~/bin/ffprobe\")|g" ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/filemanager/flm.class.php
sed -i "s|(getExternal('ffmpeg')|(getExternal('$(pwd)/bin/ffmpeg')|g" ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/filemanager/flm.class.php</kbd></pre>

<h4>Troubleshooting Filemanager</h4>
<dl>
    <dt>When I do something (create an archive, move a file etc.) the action seems to complete but nothing has changed</dt>
    <dd><p>Make sure you've set the permissions correctly in Filemanager's scripts directory.</p></dd>
    <dt>When I try to generate screenshots I get ffmpeg/ffprobe related errors</dt>
    <dd><p>Make sure you've configured screenshots to point to the instance of ffmpeg running on your slot. If in doubt, follow this guide from top to bottom again and refresh ruTorrent.</p></dd>
</dl>

<h3 id="fileshare">Fileshare</h3>
<p>This plugin allows you to create a URL out of your files for download via HTTP(S). It requires Filemanager to run (see the section above).</p>
<p>To install Fileshare execute these commands:</p>
<pre><kbd>cd ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
svn co -q https://github.com/nelu/rutorrent-thirdparty-plugins/trunk/fileshare</kbd></pre>

<p>These commands will configure the plugin to run on your slot:</p>
<pre><kbd>ln -s ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/fileshare/share.php ~/www/$(whoami).$(hostname -f)/public_html/
sed "/if(getConfFile(/d" -i ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/fileshare/share.php
sed -i "s|'http://mydomain.com/share.php';|'http://$(whoami).$(hostname -f)/share.php';|g" ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/fileshare/conf.php</kbd></pre>

<h3 id="fileupload">Fileupload</h3>
<p>This plugin will allow you to use Plowshare to upload to various filesharing services via ruTorrent.</p>
<p> As it's not possible to set a path to plowup (Plowshare's uploading software) within the plugin's configuration files you'll need to make sure that plowup is in your PATH. There is a separate guide to help you <a href="/wiki/getting_started/newbie_info#pathfix">add the bin directory to PATH</a>.</p>

<h4>Installation</h4>
<p>To install Plowshare execute the following commands:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
git clone https://github.com/mcrapet/plowshare.git ~/.plowshare-source &amp;&amp; cd ~/.plowshare-source
make install PREFIX=$HOME
cd &amp;&amp; rm -rf .plowshare-source</kbd></pre>

<p>Run this command to install the plowshare modules:</p>
<p><kbd>plowmod --install</kbd></p>
<p>If you get "command not found" then you need to revisit the preparation steps above because your ~/bin/ directory is not in PATH.</p>

<p>Execute these commands to install the plugin itself:</p>
<pre><kbd>cd ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
svn co -q https://github.com/nelu/rutorrent-thirdparty-plugins/trunk/fileupload</kbd></pre>
<p>You should then refresh ruTorrent to make sure the plugin can communicate with your plowup binary correctly.</p>

<h4>Troubleshooting</h4>
<p>If you get an error ("fileupload: Plugin will not work. rTorrent user can't access external program (plowup)."), make sure that you have taken the steps above to add ~/bin to PATH. Then, <a href="../rutorrent#start">kill and restart rTorrent</a>.</p>

<h3 id="mediastream">Mediastream</h3>
<p>This is a plugin to allow you to stream from within ruTorrent. It requires the DivX web player to be installed first on your computer. This guide does not cover that step and for anything other than test streaming something like <a href="../plex">Plex</a> will probably be a better solution for you.</p>


<h4>Installation</h4>
<p>Mediastream requires Filemanager (see the section above). Install Mediasteam using the following commands:</p>
<pre><kbd>cd ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
svn co -q https://github.com/nelu/rutorrent-thirdparty-plugins/trunk/mediastream</kbd></pre>

<h4>Configuration</h4>
<pre><kbd>mkdir ~/www/$(whoami).$(hostname -f)/public_html/stream
ln -s ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/mediastream/view.php ~/www/$(whoami).$(hostname -f)/public_html/stream/
sed -i "s|'http://mydomain.com/stream/view.php';|'http://$(whoami).$(hostname -f)/stream/view.php';|g" ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/mediastream/conf.php</kbd></pre>

<h4>Troubleshooting</h4>
<dl>    
    <dt>I get the error "Video cannot be found, it may have been removed"</dt>
    <dd>Please make sure the configuration steps have been followed correctly.</dd>
</dl>

<h3 id="screenshots">Screenshots</h3>
<p>The plugin uses ffmpeg to generate screenshots and due to the removal of this software from Debian stable you'll need to <a href="../ffmpeg">install FFmpeg to your slot</a>. Next, install and configure the screenshots plugin itself with:</p>
<pre><kbd>rm -rf ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/screenshots
wget -q https://bintray.com/artifact/download/novik65/generic/plugins/screenshots-3.6.tar.gz
tar xf screenshots-3.6.tar.gz -C ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
rm screenshots-3.6.tar.gz
cd &amp;&amp; sed -i "s|ffmpeg'] = ''|ffmpeg'] = '$(pwd)/bin/ffmpeg'|g" ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/screenshots/conf.php</kbd></pre>
<p> The first command removes any existing instance of screenshots in case you previously installed an incorrect version. Naturally if you are using the 3.7 version of ruTorrent then you can install Screenshots by following the general plugin install method at the top of this page.</p>

<h4>Troubleshooting</h4>
<dl>
    <dt>When I load ruTorrent I get an error "screenshots: Plugin will not work. rTorrent user can't access external program (ffmpeg)"</dt>
    <dd> Make sure you've configured screenshots to point to the instance of ffmpeg running on your slot.</dd>
    <dt>When I generate screenshots I get no pictures, just a list of numbers</dt>
    <dd>That happens when using the 3.7 version of screenshots with the 3.6 version of ruTorrent. Please install the 3.6 version using the instructions above.</dd>
</dl>

<h3 id="rss">RSS</h3>
<p>Since ruTorrent uses the filesystem as a database, the use of its own RSS plugin is not recommended. Things like filling the disk can result in RSS feed information being lost. Instead, if you wish to use RSS feeds, please consider <a href="/wiki/software/flexget">Flexget</a>.</p>

<h3 id="unpack">Unpack</h3>
<p>This plugin allows you to extract from <samp>.zip</samp> and <samp>.rar</samp> archives, directly from ruTorrent.</p>
<p>To install it, execute the following:</p>
<pre><kbd>rm -rf ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/unpack
wget -q https://bintray.com/novik65/generic/download_file?file_path=plugins%2Funpack-3.6.tar.gz
tar xf download_file\?file_path\=plugins%2Funpack-3.6.tar.gz -C ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
rm download_file\?file_path\=plugins%2Funpack-3.6.tar.gz</kbd></pre>
<p> The first command removes any existing instance of unpack in case you previously installed an incorrect version. Naturally if you are using the 3.7 version of ruTorrent then you can install unpack by following the general plugin install method at the top of this page. </p>

<h3 id="discordpush">Discordpush</h3>
<p>Discordpush is a rutorrent plugin that sends messages on Torrent Added, Deleted and Finished to a specific Discord channel.</p>
<h4>Installation</h4>
<p>First you need to install the rutorrent plugin. Execute these commands to obtain and install the plugin to rutorrent:</p>
    <pre><kbd>cd ~
git clone https://github.com/radonthetyrant/rutorrent-discord.git rutorrent-discord-tmp
mv ~/rutorrent-discord-tmp/discordpush ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/plugins/
rm -rf ~/rutorrent-discord-tmp</kbd></pre>
<h4>Obtaining Webhook URL</h4>
<p>To allow rutorrent to send Messages through the plugin to Discord servers, you need to obtain a <a href="https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks">WebHook URL from the Discord API</a>. Here is how it works:</p>
<ul>
    <li>Click on the "Edit Channel" button of the Text Channel you want the messages to appear (You have to own the necessary rights to do so)</li>
    <li>Navigate to the "Webhooks" Tab</li>
    <li>Click the Button "Create Webhook"</li>
    <li>Give the bot a name of your choice and make sure the correct Channel is selected</li>
    <li>Copy the Webhook URL at the bottom of the popover, you'll need that in a second.</li>
    <li>Click "Save" Button</li>
</ul>
<p>I recommend you create your own Discord Guild and <a href="https://support.discordapp.com/hc/en-us/articles/215253258-Notifications-Settings-101">enable Desktop notifications</a> to know instantly when you downloaded something.</p>
<h4>Configuration</h4>
<p>Now reload your rutorrent webinterface. You should be able to find a "Discord" entry in the Settings.</p>
<ul>
    <li>Open the "Discord Notifications" Settings menu in rutorrent</li>
    <li>Check "Enabled" at the top of the popup</li>
    <li>Enter the webhook url you saved previously, for example: https://discordapp.com/api/webhooks/**NUMBERS**/**CHARACTERS**</li>
    <li>Check any or all of the Torrent Events you want to get notified including "Addition" "Deletion" or "Finish"</li>
</ul>