<h1>CMake</h1>
<p>This article will show you how to install CMake to your slot for use when trying to build other software.
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Install from binary</h2>
<p>Install CMake by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/cmake.tar.gz https://cmake.org/files/LatestRelease/cmake-3.10.2-Linux-x86_64.tar.gz
tar xf ~/cmake.tar.gz --strip-components=1 -C ~/</kbd></pre>

<h2>Compile from source</h2>
<p>If you prefer to compile from source you can copy and paste the following:</p>
<pre><kbd>wget -qO ~/cmake.tar.gz https://cmake.org/files/LatestRelease/cmake-3.10.2.tar.gz
tar xf ~/cmake.tar.gz &amp;&amp; cd ~/cmake-*
./configure --prefix=$HOME
make &amp;&amp; make install
cd &amp;&amp; rm -rf cmake*</kbd></pre>

<h2>Usage</h2>
<p>You can test the version with <kbd>cmake --version</kbd>. This returns something like:</p>
<pre><samp>cmake version 3.9.4

CMake suite maintained and supported by Kitware (kitware.com/cmake).</samp></pre>
<p>If you need to install software using cmake, you can run the following in the software's directory:</p>
<pre><kbd>cmake -DPREFIX=$HOME</kbd></pre>

<h2>Troubleshooting</h2>
<dl>
    <dt>When I run <kbd>cmake --version</kbd> I get an error <samp>bash: cmake: command not found</samp> or a different version than I installed</dt>
    <dd>
        <p>This means <samp>~/bin</samp> is not part of your PATH. You can add it with the following:</p>
        <pre><kbd>echo "PATH=~/bin:$PATH" > ~/.bashrc
source ~/.bashrc</kbd></pre>
        <p>Then, try the command again.</p>
    </dd>
</dl>