<h1>Emby</h1>
<p>This article will show you how to install and configure Emby. Emby is a media player and alternative to <a href="/wiki/software/plex">Plex</a>.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Emby requires mono to run. Please <a href="/wiki/software/mono">install mono</a> first, then come back to this guide.</p>
<p>Install Emby by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO emby.zip $(curl -sL https://api.github.com/repos/MediaBrowser/Emby/releases/latest | grep -P 'browser(.*)Emby.Mono.zip' | cut -d\" -f4)
unzip -q ~/emby.zip -d ~/emby
rm -rf ~/emby.zip</kbd></pre>

<h3>Configuring before starting Emby</h3>
<p>You need to start and then close Emby so that it'll create the necessary configs. Do so with the following command:</p>
<p><kbd>mono --debug ~/emby/MediaBrowser.Server.Mono.exe</kbd></p>
<p>Emby will then go through its launch procedure. Eventually you'll see a line which says <samp>Info App: All entry points have started</samp>. At this point, press <kbd>ctrl</kbd> + <kbd>c</kbd> to close Emby and create the config.</p>
<p>We also need to change the port number, since the default can naturally only be used once per server. To randomise it and set this port in the configs, copy and paste these commands (the start command in the section below will tell you how to access Emby):</p>
<pre><kbd>port=$(shuf -i 10001-59001 -n 1)
sed -i "s|&lt;PublicPort&gt;.*&lt;|&lt;PublicPort&gt;$port&lt;|g" ~/emby/ProgramData-Server/config/system.xml
sed -i "s|&lt;HttpServerPortNumber&gt;.*&lt;|&lt;HttpServerPortNumber&gt;$port&lt;|g" ~/emby/ProgramData-Server/config/system.xml</kbd></pre>


<h2>Starting, stopping and restarting</h2>
<p>This section covers the Emby process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS emby /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug ~/emby/MediaBrowser.Server.Mono.exe' &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)&lt;PublicPort&gt;(.*)&lt;\/PublicPort&gt;|\2|p' ~/emby/ProgramData-Server/config/system.xml)"</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "SCREEN -dmS emby"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS emby'</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>pkill -fu "$(whoami)" 'SCREEN -dmS emby'; sleep 3 &amp;&amp; screen -dmS emby /bin/bash -c 'export TMPDIR=~/tmp; ~/bin/mono --debug ~/emby/MediaBrowser.Server.Mono.exe' &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)&lt;PublicPort&gt;(.*)&lt;\/PublicPort&gt;|\2|p' ~/emby/ProgramData-Server/config/system.xml)"</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>pkill -9 -fu "$(whoami)" 'SCREEN -dmS emby'</kbd></dd>
</dl>
<p>The check command works as follows: if the process is running a list of relevant process ID numbers will be listed; if nothing is listed the process is not running.</p>

<h3>Automatically restarting Emby if it is not running</h3>
<p>Cron jobs can be used to check if Emby is running and start it up if it is not. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2>Using Emby</h2>
<p>Access Emby via the URL produced by the start command. You should be taken to a wizard - rather than repeating what they've written, please <a href="https://github.com/MediaBrowser/Wiki/wiki/Installation#running-the-startup-wizard">refer to Emby's documentation on the wizard</a>.</p>

<p>Once you have added a user, you should access the Emby dashboard and click <samp>Users</samp> on the left-hand side. Click your user, then scroll down and make sure <samp>Hide this user from login screens</samp> is enabled.</p>

<h2>Troubleshooting</h2>
<p>If you experience issues or crashes using Emby the first thing to try and do is restart the software using the command listed in the section above, "Starting, stopping and restarting"</p>

<dl>
    <dt>When I run Emby I get an error <samp>System.DllNotFoundException: libsqlite3.so</samp></dt>
    <dd>Please <a href="/wiki/getting_started/tickets">open a ticket</a>, as staff will need to install a package for you.</dd>
</dl>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software, downloaded data and its config files - back up important data first!</aside>
<pre><code>pkill -9 -fu "$(whoami)" 'SCREEN -dmS emby'
rm -rf ~/emby</code></pre>

<h2>External links</h2>
<ul>
    <li><a href="https://emby.media/">Emby homepage</a></li>
    <li><a href="https://github.com/MediaBrowser/Wiki/wiki">Emby wiki (includes naming requirements for TV and movie files)</a></li>
</ul>