<h1>FFmpeg</h1>
<p>FFmpeg is piece of software to handle various multimedia formats. It's used by other software and plugins to take screenshots, make file conversions and other things.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation</h2>
<p>Install FFmpeg by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/ffmpeg.tar.gz https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-64bit-static.tar.xz
tar xf ~/ffmpeg.tar.gz &amp;&amp; cd &amp;&amp; rm -rf ffmpeg-*-64bit-static/{manpages,presets,readme.txt}
cp ~/ffmpeg-*-64bit-static/* ~/bin
chmod 700 ~/bin/{ffmpeg,ffprobe,ffmpeg-10bit,qt-faststart}
cd &amp;&amp; rm -rf ffmpeg{.tar.gz,-*-64bit-static}</kbd></pre>

<h2>External links</h2>
<ul>
	<li><a href="https://ffmpeg.org/ffmpeg">FFmpeg documentation</a></li>
</ul>