<h1>Jackett</h1>

<p>This article will show you how to install Jackett. Jackett allows you to use software like <a href="/wiki/software/sonarr"></a>, <a href="/wiki/software/radarr"></a> and <a href="/wiki/software/sickrage"></a> with various otherwise-unsupported trackers.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Installation - bash script</h2>
<p>You can copy and paste the following to run an installation script for Jackett and its dependencies:</p>
<p><kbd>wget -qO ~/install.jackett.sh https://bitbucket.org/feralio/wiki/raw/HEAD/src/wiki/software/jackett/jackett.sh &amp;&amp; bash ~/install.jackett.sh</kbd></p>
<p>The script will also allow you to restart the software and uninstall it.</p>

<h2>Installation - manual</h2>
<p>Jackett requires mono to run. Please <a href="/wiki/software/mono">install mono</a> first, then come back to this guide.</p>
<p>Once mono is installed, install Jackett by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO ~/Jackett.tar.gz $(curl -s https://api.github.com/repos/Jackett/Jackett/releases/latest | grep 'browser_' | cut -d\" -f4 | head -n 1)
tar xf ~/Jackett.tar.gz
rm -rf ~/Jackett.tar.gz</kbd></pre>

<h3>Configuring before starting Jackett</h3>
<p>You need to start and then close Jackett so that it'll create the necessary configs. Do so with the following command:</p>
<p><kbd>mono --debug ~/Jackett/JackettConsole.exe</kbd></p>
<p>Jackett will then go through its launch procedure. Eventually you'll see a line which says <samp>Starting web server at http://*:9117/</samp>. At this point, press <kbd>ctrl</kbd> + <kbd>c</kbd> to close Jackett and create the config.</p>
<p>We also need to change the port number, since the default can naturally only be used once per server. To randomise it, run this command (the start command in the section below will tell you how to access Jackett):</p>
<p><kbd>sed -i 's|"Port": 9117,|"Port": '$(shuf -i 10001-59001 -n 1)',|g' ~/.config/Jackett/ServerConfig.json</kbd></p>

<h2>Starting, stopping and restarting</h2>
<p>This section covers the Jackett process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS jackett mono --debug ~/Jackett/JackettConsole.exe &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)"Port": (.*),|\2|p' ~/.config/Jackett/ServerConfig.json)"</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "SCREEN -dmS jackett"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "SCREEN -dmS jackett")"</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "SCREEN -dmS jackett")" &amp;&amp; sleep 3 &amp;&amp; screen -dmS jackett mono --debug ~/Jackett/JackettConsole.exe &amp;&amp; echo -e "\nhttp://$(hostname -f):$(sed -rn 's|(.*)"Port": (.*),|\2|p' ~/.config/Jackett/ServerConfig.json)"</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>kill -9 "$(pgrep -fu "$(whoami)" "SCREEN -dmS jackett")"</kbd></dd>
</dl>
<p>The check command works as follows: if the process is running a list of relevant process ID numbers will be listed; if nothing is listed the process is not running.</p>
<p>Please note that the bash script at the top of the page can also be used for restarting Jackett.</p>

<h3>Automatically restarting Jackett if it is not running</h3>
<p>Cron jobs can be used to check if Jackett is running and start it up if it is not. There is a separate page on <a href="/wiki/slots/cron">configuring cron jobs</a>.</p>

<h2>Using Jackett</h2>
<p>One of the first things you should probably do is password protect Jackett. You can do this by scrolling down on the Jackett dashboard to the section <samp>Jackett Configuration</samp>, enter your password in the field <samp>Admin password</samp> and press <kbd>Set Password</kbd>.</p>

<h2>Troubleshooting</h2>
<dl>
    <dt>Jackett gives an error whilst trying to add an indexer.</dt>
    <dd>
        <p>Please copy and paste the following commands:</p>
        <pre><kbd>wget -O ~/cacert.pem https://curl.haxx.se/ca/cacert.pem
cert-sync --user ~/cacert.pem</kbd></pre>
        <p>Then, restart Jackett using the section above.</p>
    </dd>
</dl>

<h2>Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>kill -9 "$(pgrep -fu "$(whoami)" "SCREEN -dmS jackett")"
rm -rf ~/Jackett ~/.config/Jackett</code></pre>

<h2>External links</h2>
<ul>
    <li><a href="https://github.com/Jackett/Jackett">Jackett's homepage</a></li>
</ul>