<h1>PyOpenSSL</h1>

<p>This article will show you how to upgrade the version of PyOpenSSL running on your slot. This is necessary for a number of different pieces of software, for instance <a href="sickrage">SickRage</a> and <a href="flexget">FlexGet</a>.</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<h2>Pre-installation</h2>
<p>First, you should check if the required dependencies are installed. You can do this by copying and pasting the following command:</p>
<p><kbd>dpkg -s libffi-dev</kbd></p>
<p>If you receive the following message, it means that the dependencies are not installed:</p>
<p><samp>dpkg-query: package 'libffi-dev' is not installed and no information is available</samp></p>
<p>If that is displayed, please <a href="https://www.feralhosting.com/tickets/new">open a ticket</a> with the following information:</p>
<p><samp>Please install libffi-dev to my server.</samp></p>

<p>If you get the following message when running the command, that means the package has already been installed:</p>
<pre><samp>Package: libffi-dev
Status: install ok installed</samp></pre>

<h2>Installation</h2>
<p>Once the <samp>libffi-dev</samp> package has been installed, copy and paste the following to update pyOpenSSL:</p>
<p><kbd>pip install --user --upgrade --no-use-wheel cffi pyopenssl</kbd></p>

<h2>Installation notes</h2>
<p>You can verify successful installation by running <kbd>pip show pyopenssl</kbd>:</p>
<pre><samp> pip show pyopenssl
---
Name: pyOpenSSL
Version: 17.2.0
Location: <var>$HOME</var>/.local/lib/python2.7/site-packages
Requires: cryptography, six</samp></pre>
<p>When you run the command, <var>$HOME</var> will be replaced by the absolute path to your home directory.</p>
