<h1>Debian Stretch Upgrades</h1>

<p>All of our slot servers run Debian oldstable (Jessie) and we would like to move them to Stretch as soon as possible.</p>
<p>This upgrade will not lose any customer data but will involve a few hours downtime at worst.</p>

<h2>Status</h2>
<p>All servers have been successfully upgraded to Debian Stretch without issue.</p>