<h1>FTP and SFTP</h1>
<p>This guide will take you through FTP (<dfn>file transfer protocol</dfn>) and SFTP (<dfn>SSH or secure file transfer protocol</dfn>). These are two ways of transferring data from your Feral slot to your home computer or device.</p>
<p>No previous experience or knowledge is assumed in this guide, but if you experience any issues with it then please <a href="../getting_started/tickets">open a ticket</a>.</p>

<h2>FTP or SFTP?</h2>
<p>These protocols will both allow you to transfer data from your slot to your home - the difference is that data sent via FTP is not encrypted in any way, making SFTP more secure. For this reason, SFTP should be preferred.</p>
<p>Please note that Feral only uses SFTP for secure transfers and does not support FTP over TLS or similar.</p>

<h2>Connecting to your slot via FTP/SFTP</h2>
<p>There are a number of options you have for connecting via FTP/SFTP whatever your operating system. Each have in common the need for some basic information - a server/host name, a username and a password. You can find each of these by clicking on the <samp>Software</samp> link of your <a href="../getting_started/web_manager">Feral web manager</a>.</p>
<p>You may also need (or wish) to supply a port, though most programs will use the correct defaults if you do not. The defaults are <samp>21</samp> for FTP and <samp>22</samp> for SFTP. It's also possible, if need be, to specify <samp>22221</samp> for FTP and <samp>22222</samp> for SFTP.</p>

<p>You may find that your piece of software is relatively intuitive to set up once you have the information above to hand, but more specific guides are provided on the pages below:</p>

<p>Windows</p>
<ul>
    <li><a href="ftp/bitkinex">BitKinex</a></li>
    <li><a href="ftp/cuteftp">CuteFTP</a></li>
    <li><a href="ftp/filezilla">FileZilla</a></li>    
    <li><a href="ftp/lftp">LFTP</a></li>
    <li><a href="ftp/WinSCP">WinSCP</a></li>
</ul>

<p>macOS</p>
<ul>
    <li><a href="ftp/cuteftp">CuteFTP</a></li>
    <li>Cyberduck</li>
    <li><a href="filezilla">FileZilla</a></li>
    <li><a href="ftp/lftp">LFTP</a></li>
    <li>Transmit</li>    
</ul>

<p>Linux</p>
<ul>
    <li><a href="filezilla">FileZilla</a></li>
    <li><a href="ftp/lftp">LFTP</a></li>
</ul>

<h2>Dealing with speed issues</h2>
<p>Often a user's biggest issue is the speed of transfers from their slot to their home when downloading via FTP/SFTP. Sometimes it's possible to improve speeds using a combination of various methods (sometimes to the extent of maximising your download bandwidth). There is a separate guide for trying to <a href="more_speed">increase transfer speeds</a> which can also help for streaming.</p>

<h2>Avoiding hash check failures</h2>
<p>You can get hash check failures sometimes if you transfer in ASCII mode, instead of binary. ASCII mode can modify the file endings, causing issues on different operating systems. You should stick to binary mode for all transfers - please consult your chosen FTP/SFTP program's documentation for how to set this.</p>

<h2>Transferring data between FTP servers</h2>
<p>Your server at Feral will have FXP support turned on by default, so if you're having issues please ensure the following:</p>
<ul>
    <li>The other server has FXP support</li>
    <li>Both servers are connecting via FTP: the transfer will not work if one or both ends are using SFTP.</li>
</ul>
<p>Even if FXP is working, you might find it goes quite slowly. For this reason (and for the fact that transfers are non-resumable), you might prefer to <a href="transferring_data">use rsync to transfer data</a>.</p>
<p>If you want to do a full data transfer between two of your Feral slots (under the same account e-mail address), it's easiest to simply go to the <samp>Summary</samp> link for the slot you want to move data <em>to</em> and click the link marked <samp>Slot-to-slot data transfer</samp>.</p>