<h1>Extracting from a .deb file</h1>
<p>This guide which teach you how to install custom software by extracting it from a <samp>.deb</samp> file. A <samp>.deb</samp> file is an archive that contains folders and files using a standard directory structure. We can extract its contents and use the files.</p>

<p>The guide assumes you can run commands via SSH. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<p>You should also consider reading the <a href="generic_install_guide">general information on installing custom software</a> as background to this, though you might find it isn't necessary to install your desired piece of software.</p>

<h2>Pre-requisites</h2>
<p>The first thing to do is to create the <samp>~/bin</samp> directory and reload the relevant files for the <samp>PATH</samp> setting to take effect using this command:</p>
<p><kbd>mkdir -p ~/bin &amp;&amp; bash</kbd></p>
<p>If the directory already exists you will not delete its contents by recreating it using the command above, so there's no need to worry about that.</p>

<h2>Getting and extracting</h2>
<p>The most obvious thing you need to then do is actually get the <samp>.deb</samp> file your slot. You can do that by editing the command below, which uses variables.</p>
<pre><kbd>wget -qO <var>software.deb</var> <var>https://somesite.com/software.deb</var>
dpkg -x ~/<var>software.deb</var> ~/<var>software</var>
cp -rf ~/<var>software</var>/usr/bin* ~/bin/
rm -rf ~/<var>software</var></kbd></pre>